.grandTitreFooter{
    color: rgb(0, 0, 0);
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-transform: uppercase;
}
.deuxièmeLiFooter{
    margin-top: 1vh;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 12px;
}
.troisiemeLiFooter{
    margin-top: 1vh;
}  
.troisiemeLiFooter{
    margin-top: 1vh;
}
.marginLiHeader{
    margin:2vh 2vw;
}
.toUpperCase{
    text-transform: uppercase;
}

  